<div class="container">
  <div class="row">
    <div class="col main-title">
      <h1>✨ My musical moods 🎵</h1>
    </div>
  </div>
  <div class="row">
    <div class="col intro-text text-center">
      <p>You're in a specific mood, but you don't know what music to listen to that matches your emotions ?</p>
      <p>Tell our AI assistant Maria what your mood is, it will find the perfect song for you 🪄</p>
    </div>
  </div>
  <div class="row">
    <div data-controller="mood-dropdown" class="mood-dropdown-container">
      <button data-action="click->mood-dropdown#toggle" class="mood-toggle-button">
        What's your mood?
      </button>

      <div data-mood-dropdown-target="dropdown" class="mood-dropdown hidden">
        <%# <h2>Select a Mood</h2> %>
        <% @moods.each do |mood| %>
          <%= link_to   new_mood_user_mood_music_path(mood), class: "mood-item" do %>
            <span class="emoji"><%= mood.emoji %></span>
            <span class="mood-name"><%= mood.name %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
