  <div class="navbar-user d-flex justify-content-between align-items-center">
    <div class="app-name">
      <h2>🎵 My musical moods</h1>
    </div>
    <div class="user-icon">
      <button type="button"><%= current_user.email.first.capitalize %>
    </div>
  </div>
