  <div class="navbar-user d-flex justify-content-between align-items-center">
    <div class="app-name">
      <h2>
        <%= link_to "🎵", root_path, class: "music-emoji-link", style: "text-decoration: none;" %>
        My musical moods
      </h2>
    </div>
    <div class="logout">
      <%= link_to raw("<i class=\"fa-solid fa-right-from-bracket\"></i>"), destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>
    <div class="user-icon">
      <button type="button"><%= current_user.email.first.capitalize %>
    </div>
  </div>
