.navbar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 60px;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-bottom: 33px;
}

.app-name {
  margin: 5px;
}

.app-name h2{
  font-size: 14px;
  text-shadow: 1px 1px #ffffffd4;
  margin-bottom: 0px;
}

.app-name i{
  color: $purple;
  font-size: 9px;
  text-shadow: 1px 1px #ffffffd4
}

.user-icon button {
  width: 40px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  text-shadow: 1px 1px #14131469;
  color: #e3dfdf;
  background-color: #5d3a7d;
  border: 0.5px solid #3C1A5B;
  border-radius: 50%;
}
