.navbar-user {
  justify-content: space-between;
  background: $purple;
  font-style: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
