<h1>My moods</h1>

<div data-controller="mood-dropdown">
  <button data-action="click->mood-dropdown#toggle" class="mood-toggle-button">
    What's your mood?
  </button>

  <div data-mood-dropdown-target="dropdown" class="mood-dropdown hidden">
    <h2>Select a Mood</h2>
    <% @moods.each do |mood| %>
      <%= link_to new_music_path(mood_id: mood.id), class: "mood-option" do %>
        <div class="mood-item">
          <span class="emoji"><%= mood.emoji %></span>
          <span class="mood-name"><%= mood.name %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
