<div class="container mt-3">
  <div class="body">
    <div class="music-info-card d-flex justify-content-between align-items-end mt-3 p-2">
      <div class="text-info">
        <h3 class="mb-1">"<%=  @music.title %>"</h2>
        <div class="artist-column">
          <p class="label"> Artist:</p>
          <p><%= @music.artist %></p>
        </div>
        <div class="album-column">
          <p class="label"> Album:</p>
          <p><%= @music.album %></p>
        </div>
        </div>
        <div class="photo-card">
          <% unless @music.cover_url == nil %>
            <%= image_tag @music.cover_url, alt: @music.title %>
          <% end %>
        </div>
    </div>
    <div class="llm-card">
      <h3>Want more info? <br>
          Ask LT:</h3>
    </div>
  </div>
</div>
